<div class="form-group">
	<label>Mock Name</label>
	<input class="form-control" id="mockName{{id}}" value="{{mockInfo.mock_name}}" placeholder="Mock Name">
</div>
<div class="form-group">
	<label>Valid Date</label>
	<input class="form-control" id="validDate{{id}}" value="{{mockInfo.valid_date}}" placeholder="dd/mm/yyyy">
</div>
<button type="button" class="btn btn-success save_info" id="{{id}}">Save</button>
